
@{
    ViewBag.Title = "Index";
}

<h2>Blog</h2>

<ul class="blog-articles">
    <li>@Html.ActionLink("Article 1", "article-1", "Blog")</li>
    <li>@Html.ActionLink("Article 2", "article-2", "Blog")</li>
</ul>

